{% extends 'store/main.html' %}
{% load static %}
{% block content %}
     <div class="row">
          <div class="container-fluid">
               <div class="box">
                    <div class="row">
                         <div class="col-sm-6">
                              <a class="btn btn-outline-dark" href="{% url 'store' %}">Trở về</a>
                              <hr>
                              {{user|title}}
                              {% for item in items %}
                              <h5>Item: {{ item|title }}</h5>
                              {% endfor %}
                              <h5>Tổng số lượng: {{order.get_total_items}}</h5>
                              <h5>Tổng giá: ${{order.get_total_items_price|floatformat:2}}</h5>
                              <a class="btn btn-outline-success" href="{% url 'checkout' %}">Đặt hàng</a>
                         </div>
                         <div class="col-lg-6" >
                              <h2 style="float: right; color: rgb(6, 2, 24);" >Đặt hàng</h2>
                              <hr>
                              
                              
                    </div>
                    </div>
               </div>
               
               <hr>
               <div class="box">
                    <div class="cart-row">
                         <div style="flex:2"></div>
                         <div style="flex:2">Item</div>
                         <div style="flex:1">Giá</div>
                         <div style="flex:1">Số lượng</div>
                         <div style="flex:1">Tổng tiền</div>
                    </div>
                    {% for item in items %}
                    <div class="cart-row">
                         <div style="flex:4"><img class="img" style="width: 90px; height: 90px;" src="{{item.product.image.url}}" alt="Product"></div>
                         <div style="flex:1">${{item.product.price}}</div>
                         <div style="flex:1"> <p class="quantity">{{item.quantity}}</p>
						<div class="quantity">
							<a href="{% url 'add' item.product.id %}"><img class="chg-quantity" src="{% static  'images/up.png' %}"></a>
					
							<a href="{% url 'decrease' item.product.id %}"><img class="chg-quantity" src="{% static  'images/down.png' %}"></a>
						</div>
                         </div>
                         <div style="flex:1">{{item.get_total_price}}</div>
                        
                    </div>
                    {% endfor %}
               </div>
          </div>
     </div>
{% endblock content %}